@charset "utf-8";
/* CSS Document */
ul,li{
	display:block;
	list-style-type: none;
}

.left{
	border-right:1px solid #5B5B13;
	min-height:540px;
	width:33%;
	float:left;
}

.left>ul{
	text-align:right;
	width:55%;
	float:right;
	margin-top:4%;
	margin-right:9%;
}

.left>ul>li>a,.left>ul>li>a:link{
	padding:4% 8% 4% 8%;
	text-decoration: none;
	color: #FFF;
	background:#000;
	display: block;
	margin-top:4%;
	margin-bottom:4%;
	width:80%;
	float:right;
}

.left>ul>li>a:hover,.left>ul>li>a:active{
	color:#fff;
	background-color: #BCB88D;
	width:100%;
	text-align:center;
}

.left ul ul li a,.left ul ul li a:link{
	padding:4% 8% 4% 8%;
	text-decoration: none;
	color: #FFF;
	display: block;
	margin-bottom:4%;
	width:60%;
	float:right;
	background-color: #48480F;
}

.left ul ul li a:hover,.left ul ul li a:active{
	color:#fff;
	background-color: #C5C96D;
	width:80%;
}

.right{
	width:64%;
	float:right;
	overflow: hidden;
}

.right p{
	font-size:14px;
}

.right span{
	margin-right:2%;
	color: #5B5B13;
}

.right p a,.right p a:link{
	text-decoration: none;
	color: #8F8F8F;	
	margin-right:2%;
	font-size:13px;
	padding:2px 6px 2px 6px;
}

.right p a:hover,.right p a:active{
	color: #666;
	background-color: #F5F7D7;	
}

table{
	font-size:12px;
	float:left;
	border:1px solid #999;
}

table tr td{
	padding:2%;
	border-bottom:1px solid #999;
}

table a,table a:link{
	text-decoration:none;
	color:#3A3A0C;
	text-align:right;
}

table a:hover,table a:active{
	color:#A6A624;
	text-decoration:underline;
}