@charset "utf-8";
/* CSS Document */

.left{
	width:64%;
	float:left;
	padding:1%;
	border-right:1px solid #5B5B13;
}

.panel{
	border:dotted #666 1px;
	padding-bottom:8%;
}

.right{
	width:30%;
	float:right;
	margin-top:10%;
	border:dotted #666 1px;
	margin-right:1%;
}

.left h3{
	color:#E7E7E7;
	background-color: #5B5B13;
	padding:2%;
	margin:0 0 1% 0;
}

#title{
	vertical-align: middle;
	margin-left:1%;
	padding:1%;
}

#title-label{
	color: #5B5B13;
	vertical-align: middle;
	font-size:18px;
	padding:0 5%;
}

.right p{
	margin:12px;
	font-size:13px;
	color:#5B5B13;
}

.right h4{
	color:#E7E7E7;
	background-color: #8B8B1D;
	padding:2% 6%;
	margin:0 0 1% 0;
}